.ant-layout-header {
  background-color: #003643;
}
.majors-stepper {
  background-color: white;
  margin-top: 2rem;
  padding: 5rem;
  border-radius: 0.4rem;
}
.steps-content {
  padding: 2rem 0px;
}
.main-content {
  padding: 0 5rem;
  min-height: 100vh;
}
@media only screen and (max-width: 600px) {
  .main-content {
    padding: 0 1rem;
  }
  .majors-stepper {
    padding: 1rem;
  }
}

/* 
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background-color: #003643;
  border-color: #003643;
}
.ant-steps-item-finish .ant-steps-item-icon {
  background-color: transparent;
  border-color: #7ec12a;
}
.ant-steps-item-wait .ant-steps-item-icon {
  background-color: transparent;
}
.anticon.anticon-check.ant-steps-finish-icon {
  color: #78be20;
}
.ant-btn {
  border-color: #d9d9d9;
  color: #015267;
}
.ant-btn:hover,
.ant-btn:focus {
  color: #003643;
  border-color: #003643;
}
.ant-btn-primary {
  color: #fff;
  background: #003643;
  border-color: #003643;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  color: #fff;
  background: #015267;
  border-color: #014759;
}
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: #003643;
}
.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after,
.ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: #c6c6c6;
}
.steps-content {
  padding: 2rem;
} */
